.NavContainer{
    border: solid white;
    border-width: 0.2px;
    height:10vh;
    margin: 1em;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}
.Body{
    width: 100x;
    height: 100px;
}
.Logo{
    border: 0px solid #ddd;
    border-radius: 1px;
    padding: 1px;
    width: 10px;
    display: list-item;
}

.Menu{
    border: 0px solid #ddd;
    border-radius: 1px;
    padding: 1px;
    width: 10px;
    display: block;
}

.Pictures{
    border; solid purple;
    display: inline-table;
    max-height: 10px;
    max-width: 20px;
    width: 10px;
    height: 10px;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}


fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white
}